@model List<Category>
@section scripts
{
    <partial name="_Notification" />
}

<div class="container">
    <div class="row pt-4 pb-2">
        <div class="col-6">
            <h2 class="test-primary">
                Category List
            </h2>
    
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-square-dotted">
                    Create New Category
                </i>
            </a>
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    Category Name
                </th>
                <th>
                    Display Order
                </th>
                <th>
                    
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var c in Model.OrderBy(f => f.Name))
            {
                <tr>
                    <td>
                        @c.Name
                    </td>
                    <td>
                        @c.DisplayOrder
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Category" asp-action="Edit" asp-route-id="@c.Id" class="btn btn-primary mx-2">
                                <i class="bi bi-pencil-square"></i> Edit
                            </a>
                            <a asp-controller="Category" asp-action="Delete" asp-route-id="@c.Id" class="btn btn-danger mx-2">
                                <i class="bi bi-x-square"></i> Delete
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
